<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Kelas Saya</title>
</head>

<body>
    <aside class="fixed inset-y-0 left-0 z-50 w-64 bg-[#072D17] text-white transform transition-transform duration-300 lg:translate-x-0"
           :class="{ '-translate-x-full': !sidebarOpen, 'translate-x-0': sidebarOpen }">
        <div class="flex flex-col px-6 py-6 items-center border-b border-[#20452F]">
            <p class="text-lg text-white font-bold font-medium text-center"> Learning Management System</p>
            <i class="fa-solid fa-school text-7xl text-yellow-300 my-2 pt-5" alt="Logo LMS"></i>
        </div>
        <nav class="px-4 py-4 space-y-2">
            <a href="/mahasiswa/dashboard_mahasiswa" class="block px-3 py-2 rounded-md hover:bg-green-800">Dasbor</a>
            <a href="/mahasiswa/KelasSaya" class="block px-3 py-2 bg-green-900 rounded-md">Kelas Saya</a>
            <a href="/mahasiswa/daftarKelas" class="block px-3 py-2 rounded-md hover:bg-green-800">Daftar Kelas</a>
        </nav>
        <div class="p-4 absolute bottom-0 w-64">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="w-full flex items-center justify-center p-2 rounded-lg bg-red-600 hover:bg-red-700">
                    <i class="fas fa-sign-out-alt mr-2"></i>
                    Keluar
                </button>
            </form>
        </div>
    </aside>

    <header class="fixed top-0 left-0 right-0 z-40 bg-[#F3F1D9]">
        <nav class="flex items-center justify-end px-6 py-4 ml-64 space-x-4 text-lg whitespace-nowrap">
                <i class="fa-solid fa-user"></i>
                <span class="font-medium" th:text="${#authentication.name}">Jane Doe</span>
        </nav>
    </header>

    <!--main content-->
    <div class="flex-1 overflow-y-auto bg-[#F3F1D9] ml-64 pt-20 pl-6 h-screen">
        <div>
            <h1 class="text-2xl font-bold text-gray-800 mb-3">Kelas Saya</h1>
        </div>
        <div class="flex-grow relative max-w-full mr-6">
            <input type="text" placeholder="Cari kelas..." class="w-full pl-10 pr-4 py-2 rounded-lg border border-[#2C7148] focus:outline-none focus:ring-2 focus:ring-[#2C7148]">
            <i class="fas fa-search absolute left-3 top-3 text-[#514D4D]"></i>
        </div>

        <!-- card kelas -->
        <div class="grid grid-cols-3 gap-8 mt-6 mr-6">
            <!-- Card 1 -->
            <div class="relative bg-white shadow-lg hover:shadow-xl rounded-2xl overflow-hidden  border border-gray-300 hover:border-[#072D17] transition-all duration-300">
                <!-- Icon-->
                <div class="bg-[#C8CFBE] h-45 flex items-center justify-center">
                    <div class="flex items-center justify-center gap-3">
                        <i class="fas fa-play text-white text-3xl"></i>
                        <i class="fas fa-cog text-white text-3xl"></i>
                        <i class="fas fa-cube text-white text-3xl"></i>
                    </div>
                </div>
                <!-- Info Kelas -->
                <div class="flex flex-row bg-[#FFFBDF] p-4 gap-4">
                    <div class="flex flex-col">
                        <div class="flex flex-row gap-4 items-center">
                        <h3 class="text-lg font-semibold text-gray-800 mb-1">Pemrograman Berorientasi Objek</h3>
                            <div class="bg-[#20452F] px-2 py-1 rounded text-center text-xs text-white font-medium w-17 h-6 justify-center">
                                ILK2201
                            </div>
                        </div>
                        <p class="text-sm text-gray-600">Genap T.A 2024/2025</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="relative bg-white shadow-lg hover:shadow-xl rounded-2xl overflow-hidden border border-gray-300 hover:border-[#072D17] transition-all duration-300">
                <!-- Icon-->
                <div class="bg-[#C8CFBE] h-45 flex items-center justify-center">
                    <div class="flex items-center justify-center gap-3">
                        <i class="fas fa-play text-white text-3xl"></i>
                        <i class="fas fa-cog text-white text-3xl"></i>
                        <i class="fas fa-cube text-white text-3xl"></i>
                    </div>
                </div>
                <!-- Info Kelas -->
                <div class="flex flex-row bg-[#FFFBDF] p-4 gap-4">
                    <div class="flex flex-col">
                        <div class="flex flex-row gap-4 items-center">
                            <h3 class="text-lg font-semibold text-gray-800 mb-1">Pemrograman Berorientasi Objek</h3>
                            <div class="bg-[#20452F] px-2 py-1 rounded text-center text-xs text-white font-medium w-17 h-6 justify-center">
                                ILK2201
                            </div>
                        </div>
                        <p class="text-sm text-gray-600">Genap T.A 2024/2025</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="relative bg-white shadow-lg hover:shadow-xl rounded-2xl overflow-hidden border border-gray-300 hover:border-[#072D17] transition-all duration-300">
                <!-- Icon-->
                <div class="bg-[#C8CFBE] h-45 flex items-center justify-center">
                    <div class="flex items-center justify-center gap-3">
                        <i class="fas fa-play text-white text-3xl"></i>
                        <i class="fas fa-cog text-white text-3xl"></i>
                        <i class="fas fa-cube text-white text-3xl"></i>
                    </div>
                </div>
                <!-- Info Kelas -->
                <div class="flex flex-row bg-[#FFFBDF] p-4 gap-4">
                    <div class="flex flex-col">
                        <div class="flex flex-row gap-4 items-center">
                            <h3 class="text-lg font-semibold text-gray-800 mb-1">Pemrograman Berorientasi Objek</h3>
                            <div class="bg-[#20452F] px-2 py-1 rounded text-center text-xs text-white font-medium w-17 h-6 justify-center">
                                ILK2201
                            </div>
                        </div>
                        <p class="text-sm text-gray-600">Genap T.A 2024/2025</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>